@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --background: #f3f4f6;
    --foreground: #171717;
}

* {
    box-sizing: border-box;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    /* background: var(--background); */
    /* color: var(--foreground); */
    /* font-family: Arial, Helvetica, sans-serif; */
}

button {
    @apply cursor-pointer disabled:cursor-not-allowed;
}

.btn-primary {
    @apply px-3 py-1 min-w-32 bg-blue-500 dark:bg-blue-600 hover:bg-blue-400 dark:hover:bg-blue-500 text-white rounded-lg text-sm cursor-pointer disabled:bg-slate-500 disabled:cursor-not-allowed disabled:hover:bg-slate-500;
}

.small-button {
    @apply bg-white dark:bg-slate-500 dark:text-white font-bold p-2 rounded-lg border border-gray-300 dark:border-slate-600 hover:border-gray-400 disabled:bg-slate-300 dark:disabled:bg-slate-700 disabled:text-slate-500 disabled:cursor-not-allowed;
}

/* card */
.card {
    @apply bg-white dark:bg-black/40 dark:text-white shadow-md rounded-3xl hover:shadow-lg hover:outline outline-blue-200 dark:outline-pink-500/40;
}

.card .card-title {
    @apply text-blue-950 text-lg font-bold dark:text-white;
}

.card .card-title .card-subtitle {
    @apply text-xs block text-slate-500 font-normal dark:text-slate-400;
}

/* table */

.table {
    @apply divide-y divide-gray-200;
}

.table thead th {
    @apply py-2 sm:py-5 text-gray-700 border-b-2 border-blue-200 dark:border-slate-600 dark:text-lime-300;
}

.table tbody tr {
    @apply hover:bg-yellow-100 dark:hover:bg-slate-600;
}

.table tfoot th {
    @apply py-2 sm:py-4 text-gray-700 border-t-2 border-b-0 border-orange-200 dark:border-slate-600 dark:text-yellow-300;
}

.table th,
.table td {
    @apply px-1.5 sm:px-6 py-2 sm:py-2.5 whitespace-nowrap;
}

.table tr {
    @apply border-b border-gray-200 last:border-0 dark:border-gray-600;
}

.form-control {
    @apply block border border-slate-200 text-slate-800 dark:text-white dark:border-slate-500 w-full px-2 py-1.5 text-sm bg-slate-200 dark:bg-slate-600 rounded-lg outline-none focus:ring-2 focus:ring-blue-500/30 disabled:text-slate-500 disabled:bg-gray-300 disabled:cursor-not-allowed;
}

.form-select {
    @apply block border border-slate-200 text-slate-800 dark:text-white dark:border-slate-500 w-full px-2 py-1.5 text-sm bg-slate-200 dark:bg-slate-600 rounded-lg outline-none focus:ring-2 focus:ring-blue-500/30 disabled:text-slate-500 disabled:bg-gray-300 disabled:cursor-not-allowed;
}

@media print {
    body * {
        visibility: hidden;
    }

    #print-area,
    #print-area * {
        visibility: visible;
    }

    #print-area {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
    }

    .payslip {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    button,
    .no-print {
        display: none !important;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
